/* || CSS Variables: */

:root {
    --pokeRed: #ee1515;
    --pokeWhite: #f0f0f0;
    --pokeBlack: #222224;
    --statsBoxRadius: 8px;
    --pokeFont: 'Press Start 2P', cursive;
}

/* || Page Layout:*/

.pageContainer {
    min-height: 100vh;
    max-width: 100vh;
    display: flex;
}

.pageLeft {
    min-width: 50vw;
    max-width: 50vw;
    background-color: var(--pokeRed);
    position: relative;
}

.pageRight {
    min-width: 50vw;
    max-width: 50vw;
    background-color: var(--pokeWhite);
    position: relative;
}

/* || Page right - Positioning */

.pokeNameBox {
    width: 25vw;
    height: 4vw;
    position: relative;
    top: 6%;
    left: 47%;
    border-radius: var(--statsBoxRadius);
    background: blue;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pokeName {
    font-size: 2vw;
    font-family: var(--pokeFont);
}

.pokeSprite {
    width: 38%;
    height: auto;
    position: absolute;
    top: 18%;
    left: 30%;
}

.pokeTypeOneBox {
    width: 12%;
    height: 3%;
    position: absolute;
    top: 16.5%;
    right: 16.5%;
    border-radius: 4px;
    background: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pokeTypeOne {
    padding-left: 1%;
    font-size: .7vw;
    font-family: var(--pokeFont);
    
}

.pokeTypeTwoBox {
    width: 12%;
    height: 3%;
    position: absolute;
    top: 16.5%;
    right: 3%;
    border-radius: 4px;
    background: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pokeTypeTwo {
    padding-left: 1%;
    font-size: .7vw;
    font-family: var(--pokeFont);
}

.pokeHeightBox{
    width: 25.5%;
    height: 4%;
    position: absolute;
    top: 21%;
    right: 3%;
    border-radius: var(--statsBoxRadius);
    background: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pokeHeight {
    padding-left: 3%;
    font-size: .8vw;
    font-family: var(--pokeFont);
}

.pokeWeightBox{
    width: 25.5%;
    height: 4%;
    position: absolute;
    top: 26%;
    right: 3%;
    border-radius: var(--statsBoxRadius);
    background: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pokeWeight {
    padding-left: 3%;
    font-size: .8vw;
    font-family: var(--pokeFont);
}

.pokeDescriptionBox {
    width: 45vw;
    height: 28vh;
    position: absolute;
    top: 57%;
    right: 3%;
    border-radius: var(--statsBoxRadius);
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pokeDescription {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-size: .8vw;
    font-family: var(--pokeFont);
}